body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden; /* 옆으로 넘치는 문제 해결 */
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 10px; /* navbar의 상하 패딩 추가 */
}

.navbar_logo {
    display: flex;
    align-items: center; /* 로고와 텍스트를 수직으로 정렬 */
    color: #03014C; /* 로고 텍스트 색상 */
    font-size: 24px;
}

.navbar_logo img {
    margin-right: 5px; /* 로고와 텍스트 사이의 간격 */
}

.navbar_menu {
    display: flex;
    margin-left: auto; /* navbar_links와의 간격을 조정하기 위해 margin 사용 */
    font-weight: bold;
    list-style: none;
}

.navbar_menu ul {
    display: flex; /* 리스트를 가로로 정렬 */
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
}

.navbar_menu ul li {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    margin-right: 20px; /* 리스트 항목들 사이에 간격 추가 */
}

.navbar_menu li:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}



.navbar a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: #03014C; /* 링크 색상 */
}

.navbar_links a {
    margin-left: 15px;
    font-size: 20px;
}

.navbar_links {
    display: flex;
    color: #03014C; /* 아이콘 색상 */
    font-size: 25px;
    align-items: center;
}

.navbar_links i {
    margin-left: 25px; /* 아이콘 간격 */
}

/* 햄버거 버튼 - 모바일에서만 보이도록 */
.navbar_toggleBtn {
    display: none;
}



header {
    text-align: left;
    color: white;
    font-size: 22px;
    margin: 0;
    padding: 180px;
    background-image: url('images/background2.jpg');
    background-size: cover; 
    background-position: center; 
    padding-left: 50px;
}

header p {
    font-size: 20px;
}



h2 {
    color: #03014C; 
    font-size: 40px; 
    font-weight: bold; 
    text-align: center; 
    margin-top: 100px; 
    letter-spacing: 1.5px;
    
}

#whycontent {
    color: #555; 
    font-size: 20px; 
    line-height: 2.0; 
    margin: 0; 
    text-align: justify; /* 본문 텍스트 양쪽 정렬 */
    max-width: 1000px; /* 최대 너비를 설정해 긴 텍스트 가독성 향상 */
    margin-left: auto; 
    margin-right: auto;
    padding: 12px ;
}



h3 {
    color: #03014C; 
    font-size: 40px; 
    font-weight: bold; 
    text-align: center; 
    margin-top: 100px; 
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}




/* 전체 슬라이드와 버튼을 감싸는 래퍼 */
.slide-wrapper {
    display: flex; /* 슬라이드와 버튼을 나란히 배치 */
    justify-content: center; /* 수평으로 중앙 배치 */
    align-items: center; /* 세로로 중앙 배치 */
    width: 100%; /* 부모 요소 너비 */
    height: auto; /* 화면 전체 높이 */
    gap: 20px; /* 슬라이드와 버튼들 사이의 간격 */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 슬라이드 부분 */
.slidewrap {
    width: 60%; /* 슬라이드가 차지할 너비 */
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 1.0s ease;
}

.slide {
    flex: 0 0 100%;
    width: 100%;
    height: 700px; /* 슬라이드 높이 */
    background-size: 100% 100%;
    background-position: center;
}

.section1 { background-image: url(images/course2.JPG); }
.section2 { background-image: url(images/course3.JPG); }
.section3 { background-image: url(images/course4.JPG); }
.section4 { background-image: url(images/course5.JPG); }

/* 슬라이드 옆에 있는 버튼 컨테이너 */
.btn-container {
    display: flex;
    flex-direction: column; /* 버튼을 세로로 배치 */
    align-items: center; /* 버튼들을 세로 중앙 정렬 */
    gap: 20px; /* 버튼들 사이의 간격 */
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #03014C;
}

/* 버튼 스타일 */
.button {
    width: 300px;
    height: 90px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


h4 {
    display: flex;
    color: #03014C; 
    font-size: 40px; 
    font-weight: bold; 
    text-align: center; 
    margin-top: 50px; 
    letter-spacing: 1.5px;
    gap: 50px;
    background-color: #f4f4f9;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contactus_firstli {
    font-size: 30px;
    font-weight: 800;
}

h4 li {
    color: #555; 
    font-size: 23px; 
    list-style: none;
    line-height: 1.6; 
    margin: 0; 
    text-align: justify; /* 본문 텍스트 양쪽 정렬 */
    max-width: 800px; /* 최대 너비를 설정해 긴 텍스트 가독성 향상 */
    margin-left: 100px; 
    margin-right: 100px; 
    text-align: center;
}

.map-container {
    margin-left: auto;
}

.map-container iframe {
    width: 700px;
    height: 450px;
}

#contactus:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
    color: #03014C;
}

.banner_img {
    display: block; 
    margin: 0 auto; 
    height: 400px; 
    width: 1300px;
}

footer {
    display: flex;
    text-align: left;
    padding: 20px 10px; /* footer 상하 패딩 */
    background-color: #03014C; /* footer 배경색 */
    color: white;
    justify-content: space-between;
    
}

.footer-logo {
    padding: 10px 20px; /* 로고 섹션의 패딩 */
    text-align: left; /* 가운데 정렬 */
}

.footer-text {
    font-size: 20px; /* 텍스트 크기 */
}

.footer-contact {
    padding: 10px 80px; /* 연락처 섹션의 패딩 */
    text-align: left; /* 왼쪽 정렬 */
}

.footer-contact strong {
    font-weight: bold; /* 강조 텍스트 굵게 설정 */
}


.top-button {
    position: fixed;
    bottom: 40px;
    right: 60px;
}

.top-button i {
    font-size: 40px; /* 기본 아이콘 크기 */
}


.language-selector {
    position: fixed; /* 또는 absolute */
    bottom: 20px; /* 화면 하단에서의 위치 */
    left: 20px; /* 화면 왼쪽에서의 위치 */
    cursor: pointer;
}

.language-selector i {
    font-size: 30px; /* 아이콘의 크기 */
    color: #333; /* 아이콘 색상 */
    transition: color 0.3s; /* 색상 변경 애니메이션 */
}

.language-selector i:hover {
    color: #007bff; /* 마우스 오버 시 색상 */
}


/* 반응형 스타일 - 모바일 */
@media all and (max-width:767px) {

    .navbar_menu.active {
        display: block;
    }

    /* 햄버거 버튼 활성화 */
    .navbar_toggleBtn {
        display: block;  /* 모바일에서 보이도록 설정 */
        position: relative;
        z-index: 1001;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    /* 햄버거 버튼과 링크가 겹치지 않게 조정 */
    .navbar_links {
        font-size: 24px;
        padding-right: 12px;
        padding-bottom: 1px;
    }

    /* 모바일 메뉴 */
    .navbar_menu ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #03014C;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .navbar_menu ul.active {
        display: block;
        animation: slideDown 0.5s ease-in-out;
    }

    .navbar_menu ul li {
        border-bottom: 1px solid #ddd;
        height: 50px; /* li 요소의 높이 설정 */
        line-height: 50px; /* 텍스트 수직 중앙 정렬 */
    }

    .navbar_menu ul li a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        font-size: 15px;
        color: white;
        text-align: left;
        line-height: 50px; /* li의 높이와 동일하게 설정하여 텍스트를 중앙에 배치 */
        box-sizing: border-box;
    }


    /* 헤더 및 본문 글자 크기 축소 */
    h1 {
        font-size: 24px; /* 모바일에서 더 작은 헤더 크기 */
    }

    h2 {
        font-size: 24px;
    }

    #whycontent {
        color: #555; 
        font-size: 12px; 
        line-height: 2.0; 
        margin: 0; 
        text-align: justify; /* 본문 텍스트 양쪽 정렬 */
        margin-left: 60px; 
        margin-right: 60px; 

    }

    #whycontent li {
        padding: 10px;
    }

    h3 {
        font-size: 28px;
    }

    .slide-wrapper {
        display: flex;
        flex-direction: column; /* 슬라이드와 버튼들이 수직 정렬 */
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .slidewrap {
        width: 80%; /* 슬라이드가 화면을 꽉 채우도록 */
        position: relative;
        overflow: hidden;
    }

    .slides {
        display: flex; /* 슬라이드들을 수직으로 배치 */
    }

    .slide {
        flex: 0 0 100%;
        width: 100%;
        height: 500px; /* 슬라이드 높이 */
        background-size: 100% 100%;
        background-position: center;
    }



    /* 슬라이드 밑에 있는 버튼 */
    .btn-container { 
        display: flex;
        flex-direction: column; /* 버튼들을 수직으로 배치 */
        align-items: center;
        gap: 30px;
        width: 100%;
        font-size: 22px;
        font-weight: 800;
    }

    .button {
        width: 80%; /* 모바일에서 버튼 너비 조정 */
        height: 80px;
    }

    h4 {
        font-size: 28px;
        flex-direction: column;
    }

    h4 li {
        font-size: 14px;
    }

    .contactus_firstli {
        font-size: 20px;
        font-weight: 800;
    }

    .map-container {
        margin: 0;
    }

    .map-container iframe {
        width: 85%;
        height: 350px;
    }

    .banner_img {
        height: 200px;
        width: 95%;
        object-fit: contain;
    }

    footer {
        flex-direction: column;
    }
    .footer-logo {
        padding: 10px 10px; /* 로고 섹션의 패딩 */
        text-align: center; /* 가운데 정렬 */
    }
    
    .footer-text {
        font-size: 13px; /* 텍스트 크기 */
        text-align: center;
    }
    
    .footer-contact {
        padding: 10px 20px; /* 연락처 섹션의 패딩 */
        text-align: center; /* 왼쪽 정렬 */

    }

    /* 모바일 헤더 및 본문 레이아웃 최적화 */
    header {
        padding: 10px 15px; /* 모바일에서 헤더 패딩 조정 */
    }

    .main-content {
        padding: 15px;
    }

    .top-button {
        top: 630px;
        right: 15px;
    }

    .top-button i {
        font-size: 23px;
    }


    .language-selector {
        position: fixed; /* 또는 absolute */
        top: 630px;
        left: 15px; /* 화면 왼쪽에서의 위치 */
        cursor: pointer;
    }
    
    .language-selector i {
        font-size: 25px; /* 아이콘의 크기 */
        color: #333; /* 아이콘 색상 */
        transition: color 0.3s; /* 색상 변경 애니메이션 */
    }
    


}


@media all and (min-width:768px) and (max-width:1023px) {

    .navbar_menu.active {
        display: block;
    }

    /* 햄버거 버튼 활성화 */
    .navbar_toggleBtn {
        display: block;  /* 모바일에서 보이도록 설정 */
        position: relative;
        z-index: 1001;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    /* 햄버거 버튼과 링크가 겹치지 않게 조정 */
    .navbar_links {
        font-size: 24px;
        padding-right: 12px;
        padding-bottom: 1px;
    }

    /* 모바일 메뉴 */
    .navbar_menu ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #03014C;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .navbar_menu ul.active {
        display: block;
        animation: slideDown 0.5s ease-in-out;
    }

    .navbar_menu ul li {
        border-bottom: 1px solid #ddd;
        height: 50px; /* li 요소의 높이 설정 */
        line-height: 50px; /* 텍스트 수직 중앙 정렬 */
    }

    .navbar_menu ul li a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        font-size: 15px;
        color: white;
        text-align: left;
        line-height: 50px; /* li의 높이와 동일하게 설정하여 텍스트를 중앙에 배치 */
        box-sizing: border-box;
    }



    /* 헤더 및 본문 글자 크기 축소 */
    h1 {
        font-size: 35px; /* 모바일에서 더 작은 헤더 크기 */
    }

    h2 {
        font-size: 30px;
    }

    #whycontent {
        color: #555; 
        font-size: 16px; 
        line-height: 2.0; 
        margin: 0; 
        text-align: justify; /* 본문 텍스트 양쪽 정렬 */
        margin-left: 50px; 
        margin-right: 50px; 
    }

    h3 {
        font-size: 30px;
    }

    .slide-wrapper {
        display: flex;
        flex-direction: column; /* 슬라이드와 버튼들이 수직 정렬 */
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .slidewrap {
        width: 80%; /* 슬라이드가 화면을 꽉 채우도록 */
        position: relative;
        overflow: hidden;
    }

    .slides {
        display: flex; /* 슬라이드들을 수직으로 배치 */
    }

    .slide {
        flex: 0 0 100%;
        width: 100%;
        height: 500px; /* 슬라이드 높이 */
        background-size: 100% 100%;
        background-position: center;
    }



    /* 슬라이드 밑에 있는 버튼 */
    .btn-container { 
        display: flex;
        flex-direction: column; /* 버튼들을 수직으로 배치 */
        align-items: center;
        gap: 30px;
        width: 100%;
        font-size: 22px;
        font-weight: 800;
    }

    .button {
        width: 80%; /* 모바일에서 버튼 너비 조정 */
        height: 90px;
    }

    h4 {
        font-size: 28px;
        flex-direction: column;
    }

    h4 li {
        font-size: 16px;
    }

    .contactus_firstli {
        font-size: 20px;
        font-weight: 800;
    }

    .map-container {
        margin: 0;
    }

    .map-container iframe {
        width: 85%;
        height: 350px;
    }

    .banner_img {
        height: 300px;
        width: 750px;
    }

    footer {
        flex-direction: column;
    }
    .footer-logo {
        padding: 10px 10px; /* 로고 섹션의 패딩 */
        text-align: center; /* 가운데 정렬 */
    }
    
    .footer-text {
        font-size: 15px; /* 텍스트 크기 */
        text-align: center;
    }
    
    .footer-contact {
        padding: 30px 50px; /* 연락처 섹션의 패딩 */
        text-align: center; /* 왼쪽 정렬 */

    }

    /* 모바일 헤더 및 본문 레이아웃 최적화 */
    header {
        padding: 15px 15px; /* 모바일에서 헤더 패딩 조정 */
    }

    .main-content {
        padding: 15px;
    }

    .top-button {
        top: 900px;
        right: 15px;
    }

    .top-button i {
        font-size: 30px;
    }

    .language-selector {
        position: fixed; /* 또는 absolute */
        top: 900px;
        left: 15px; /* 화면 왼쪽에서의 위치 */
        cursor: pointer;
    }
    
    .language-selector i {
        font-size: 30px; /* 아이콘의 크기 */
        color: #333; /* 아이콘 색상 */
        transition: color 0.3s; /* 색상 변경 애니메이션 */
    }
    
}



/* PC 환경 - 토글 버튼 숨기기 */
@media all and (min-width:1024px) {
    .navbar_toggleBtn {
        display: none;
    }

    .navbar_menu {
        display: flex; /* PC에서 flex로 메뉴 활성화 */
    }
}






/* 애니메이션 정의 */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



